# OS & software files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon
._*
*~
*~lock*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.settings/
.project
.buildpath
.idea/

# any "tmp*" file or dir anywhere
*tmp*
