[submodule "modules/markdown-mark"]
	path = modules/markdown-mark
	url = https://github.com/dcurtis/markdown-mark
[submodule "modules/test-suite"]
	path = modules/test-suite
	url = https://github.com/markdown-extended/test-suite.git
